p{
  font-style: italic;
  text-align: 50px;

}

h2{
  text-align: center;
  font-family: fantasy;
  color: navy;
}

img{
  text-align: center;
  width: 500px;
  height: 500px;
}

backgrpund: gray;

.column{
  border: solid thick navy;
  image-orientation: float: left;
}

.column1{
  border: solid thick navy;
}
